.appbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: top 0.1s;
    background-color: red;
    justify-content: space-between;
}

.appbar a img {
    border-radius: 50%;
}

.appbar a {
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 1rem;
    font-weight: 600;
}
ul li a{
    font-size: large;    
}

/* drawer Header */
.drawerHeader {
    background-color: #ffe2c4; /* Background color */
    color: #000000; /* Text color */
    padding: 16px; /* Padding for spacing */
    border-bottom: 2px solid #e0e0e0; /* Bottom border for separation */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    font-size: 20px; /* Font size for the text */
    font-weight: bold; /* Make the text bold */
}
  
.drawerLogo {
    height: 40px; /* Adjust the height as needed */
    margin-right: 10px; /* Space between logo and text */
}
  
  